html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
div,
input,
textarea {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  list-style: none;
  color: #000;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.global_container {
  display: flex;
}
.global_container .left-bar {
  width: 25%;
  background-color: #343f56;
  min-height: 100vh;
}
.global_container .left-bar ul {
  padding: 30px ;
}
.global_container .left-bar ul li {
  padding: 10px 0;
}
.global_container .left-bar ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.global_container .right-bar {
  width: 75%;
  padding: 30px;
}
.newproduct {
  display: flex;
  flex-direction: column;
}
.newproduct input {
  margin: 15px 0;
}
